h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

p, ul, li {
    font-size: 14.3px;
    color:grey;
}

img {
    cursor: pointer;
}

.titles-start {
    font-size: 20px;
    font-family: 'Oswald';
    text-align: center;
    font-weight: 400;
    color: black;
    padding-top: 29px;
    letter-spacing: 3px;
}

.container-profile {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.card-link{
    text-decoration: none;
}

.container-info {
    width: 100%;
    height: 200px;
}

#card-id{
    width: 25%;
}

#card-id img{
    background-size: cover;
}

.fa-icon {
    width: 100%;
}

.container-info-2 {
    width: 100%;
    height: 300px;
}

.btn-contact{
    display: inline-block;
    background-color: #00a8ff;
    color: white;
    border-radius: 5px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-contact:hover {
    background-color: #000000;
    animation-delay: 500ms;
    color: white;
    border-radius: 5px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px;

}


/* Media querys */

@media screen and (max-width: 1366px) {
    #card-id{
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    #card-id{
        width: 100%;
    }
}