body {
    background-color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    /* background: url(../assets/img/fondo.jpg) no-repeat center; */
    /* background-size: cover; */
    min-height: 100vh;
}

nav {
    background-color: transparent !important;
}

h1 {
   
    align-items: center;
    font-size: 45px;
    color: white;
    text-align: center;
    font-family: "Oswald";
    font-weight: 400;
}

p, li, ul {
    color:grey;
}

footer {
    padding: 10px 0;
    background-color: #333333;
    color: gray;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1.9px;
    /* border-top: 1px solid #ddd; */
    width: 100%;
    /* position: fixed; */
    bottom: 0; 
}

.color-primary {
    color: #00a8ff;
}

.color-secundary {
    color: white;
}

.color-background {
    background-color: white;
}

.color-background-info {
    background-color:#f2f2f2;
}

.btn-color-primary {
    background-color: #00a8ff;
    color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px;

}

.btn-color-secundary {
    
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px;

}



.container-primary {
    background-color: #fff;
    width: 100%;
    /* justify-content: center; */
    /* text-align: center; */
    /* align-items: center; */
    height: 100px;
    /* border: 1px solid blueviolet; */
}

/* Estilo general para las imagenes */
.img-logo {
    border-radius: 50%;
 }
 

 /* Estilo para los links generales */
.links {

    text-decoration: none;
    color: #44CCD3;
    font-style: normal;
    font-weight: 800; 
    text-align: center;

}

.links :hover { color: #44CCD3; }

.links-titles {
    text-decoration: none;
    color: black;
    font-style: normal;
    font-weight: 800; 
    text-align: center;
}


.links-titles :hover { color: #44CCD3 }

.links-2 {
    text-decoration: none;
    color: grey;
    /* font-style: normal; */
    /* font-weight: 800;  */
    text-align: center;
}

.links-2 :hover { color: #44CCD3; }

.footer-logo {
   
    float: right;
    font-size: 16px;
    font-family: 'Oswald'; 
    font-weight: 400;
    letter-spacing: 2.9px; 
    margin-right: 20px;
    margin-top: -20px;
}